@import "uikit/blocks/auth";
@import "uikit/blocks/link";
@import "uikit/blocks/base-field";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.firebase-emulator-warning {
  display: none;
}

::selection {
  color: $gray-000;
  background-color: $accent-main;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: $accent-main;
  border-radius: 5px;
}
