rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /users/{userId} {
            allow create: if true;
            allow update, get: if request.auth.uid == resource.id;

        }

        function userExists(request) {
            return exists(/databases/$(database)/documents/users/$(request.auth.uid));
        }

        match /tasks/{taskId} {
            allow create: if userExists(request);
            allow read, update, delete: if request.auth.uid == resource.data.ownerId;
        }

        match /history/{recordId} {
            allow create: if userExists(request);
            allow read, update, delete: if request.auth.uid == resource.data.ownerId;
        }

        match /{path=**}/settings/{settingId} {
            allow create: if request.auth.uid != null;
            allow update, read: if request.auth.uid == resource.data.ownerId;
        }
    }
}
