rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create: if true;
      allow update, read: if request.auth.uid == resource.id;
    }

    match /tasks/{taskId} {
      allow create: if exists(request.auth.id);
      allow read, update, delete: if request.auth.uid == resource.data.ownerId;
    }
  }
}
